:root {
    background-color: #333;
}

.title {
    text-align: center;
    color: white;
}

.image_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    position: relative; 
    z-index: 10;
    background: rgb(45, 99, 213); 
    padding: 20px;
    border: 5px solid blue;
    border-radius: 200px;
}

.under {
    color: white;
    position: relative; 
    z-index: 5; 
    background: rgb(72, 72, 72);
    padding: 20px;
    margin-top: -650px; 
}

body {
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #333;
}
.mind-map {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.node {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px;
    background-color: rgb(72, 72, 72);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.branch {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.branch .node {
    margin: 10px;
}
.line {
    width: 2px;
    height: 20px;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
}